@import "src/common/styles/mixins.scss";

@include btn;

.container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2%;
  z-index: 5;
  width: 100%;
  height: 60px;
  background-color: $darkHeader;
  color: $darkAccentText;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    width: 30%;
    margin-left: 35%;
    text-align: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .logoutField {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;

    .buttons {
      width: 25%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logout {
      width: 30%;
    }
  }
}

.light {
  background-color: $lightHeader;
  color: $lightAccentText;

  .btn {
    &:hover {
      background-color: $lightAccentText;
    }
  }
}

@media screen and (max-width: 1200px){
  .container {

    .logoutField {
      width: 35%;
    }
  }
}


@media screen and (max-width: 700px) {
  .container {
    .logoutField {
      width: 45%;

      .buttons {
        width: 40%;
      }
      .userName {
        display: none;
      }
      .logout {
        width: 40%;
      }
    }

    .title {
      transform: scale(0.8);
      margin-left: 15%;
      width: 40%;
    }
  }
}


