@import "src/common/styles/mixins.scss";

@include btn;

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 60px;
  //background-color: $darkHeader;
  background-color: transparent;
  backdrop-filter: blur(5px);
  //border-bottom: 1px solid $darkAccentText;
  color: $darkAccentText;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .plug {
    width: 35%;
  }

  .title {
    display: flex;
    justify-content: flex-end;
    max-width: 50%;

    .page {
      position: relative;
      cursor: pointer;
      white-space: nowrap; /* Текст не переносится */
      overflow: hidden; /* Обрезаем всё за пределами блока */
      text-overflow: ellipsis;
    }
  }

  .noBtn {
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
}

.light {
  //background-color: $lightHeader;
  color: $lightAccentText;
  .btn {
    &:hover {
        background-color: $lightAccentText;
    }
  }
}


.logoutField {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 2%;
  width: 30%;

  .userName {

  }

  .logout {
    margin-left: 10px;
  }
}


@media screen and (max-width: 850px) {

  .logoutField {
    transform: scale(0.8);
    .logout {
      //margin-left: 10px;
    }
  }
  .title {
    transform: scale(0.8);
  }

  .userName {
    display: none;
  }
}


