@import "src/common/styles/mixins.scss";

@include btn;

.container {
  margin: 0 auto;
  width: 60%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;

  .tasks {
    font-size: 16px;
    width: 100%;
    display: flex;
    column-gap: 20px;

    .buttonGroup {
      display: none;
    }

    .activeTitle {
      color: #d38612;
    }
    .activeTasks {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .inProgressTitle {
      color: $darkAccentText
    }

    .lightInProgress {
      color: $lightAccentText
    }

    .inProgressTasks {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .completedTitle {
      color: green;
    }
    .completedTasks {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .emptyBlock {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.backBnt {
  margin: 10px auto 0 10px;
  transition: 1s;
}

.backBnt:hover {
  transition: 1s;
  transform: translate(-10px, 0);
}

.light {
  .activeBtn {
    background-color: $lightAccentText!important;
  }
  .btn {
    &:hover {
      background-color: $lightAccentText!important;
    }
  }
}

@media screen and (max-width: 700px) {
  .activeTasks, .inProgressTasks, .completedTasks {
    width: 100%!important;
  }
  .container {
    width: 90%;
    .tasks {
      flex-direction: column;

      .activeTasks, .inProgressTasks, .completedTasks {
        width: 100%!important;
      }
      .buttonGroup {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .btn {
          width: 25%;
          margin-bottom: 5px;
        }
        .activeBtn {
          background-color: $darkAccentText;
          color: white;
        }
      }
    }
    .backBnt {
      margin-left: -15px;
    }
  }

}