$hoverColor:rgba(18, 132, 18, 0.4);

@mixin error {
  .error {
    color: red
  }
}

@mixin btn {
  .btn {
    outline: none;
    border: none;
    transition: 0.5s;
    &:hover {
      background-color: $hoverColor;
      color: white;
      transition: 0.5s;
    }
  }
  .logout {
    border-radius: 5px;
    width: 100px;
    height: 30px;
  }

}