$hoverColor: rgba(97, 218, 251, 0.6);

$darkHeader: #282c34;
$lightHeader: #45494e;

$darkAccentText: #61dafb;
$lightAccentText: #46a722;


$darkMainText: white;
$lightMainText: #45494e;

$primaryDark: #363a45;
$primaryLight: rgb(193, 236, 98);
$lightTasks: #d9dcdb;

$secondaryDark: #444b58;
$secondaryLight: #ffffff;


@mixin error {
  .error {
    color: red
  }
}

@mixin btn {
  .noBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .btn {
    outline: none;
    border: none;
    transition: 0.5s;
    border-radius: 5px;
    width: 100px;
    min-height: 30px;

    &:hover {
      background-color: $darkAccentText;
      transition: 0.5s;
      color: white;
    }
  }
  .logout {
    border-radius: 5px;
    width: 100px;
    height: 30px;
  }

}

@mixin a {
  .link {
    color: inherit;

    &:hover {
      color: $darkAccentText;
    }
  }

  .navlink {
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
    transform: scale(1);
    text-align: center;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical;

    &:hover {
      opacity: 0.5;
    }
  }
  .active {
    color: $darkAccentText;
    transform: scale(1.2);
    transition: 0.5s;
  }
}

@mixin inputs {
  .input, .select, .textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }
  .textarea {
    resize: none;
    height: 100px;
  }
}