.theme {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
    transform: scale(1.3);
  }
}

@media screen and (max-width: 600px) {
  .theme {
    margin-right: 15px;
  }
}