@import "src/common/styles/mixins.scss";
@include btn;

.container {
  font-size: 16px;
  position: absolute;
  border-radius: 20px;
  bottom: 30px;
  padding: 10px;
  left: 35%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .infoField {
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bntField {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
