@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "src/common/styles/mixins";

.App {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $secondaryDark;
  background-image: url("../assets/pics/wood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $darkMainText;
  z-index: -2;}

.light {
  background-color: $secondaryLight;
  background-image: url("../assets/pics/white_wood.jpg");
  color: $lightMainText;
}

h1, h2, h3, h4, h5, ul, ol, p {
  padding: 0;
  margin: 0;
}

input, select, option, textarea  {
  font-size: 16px;
}
