@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "src/common/styles/mixins";

.App {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: $secondaryDark;
  color: $darkMainText;
  z-index: -2;
}

.light {
  background-color: $secondaryLight;
  color: $lightMainText;
}

h1, h2, h3, h4, h5, ul, ol, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: inside url('../assets/icons/ulImg.svg');
}