@import "src/common/styles/mixins.scss";
@include btn;

.container {
  background-color: $primaryDark;
  width: 80%;
  border-radius: 5px;
  padding: 20px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  .taskHeader {
    display: flex;
    justify-content: space-between;

    .taskTitle {
      font-size: 16px;
      text-align: center;
      word-break: break-word;
      padding: 0 10px;
    }
  }

  .description {
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
  }

  .addedDate {
    margin-top: 20px;
    align-self: flex-end;
    font-style: italic;
    font-size: 14px;
  }

}
.active {
  border: 1px solid #d38612!important;
}

.inProgress {
  border: 1px solid $darkAccentText ;
}

.completed {
  border: 1px solid green!important;
}

.ligth {
  background-color: $lightTasks!important;
  border-color: $lightAccentText;
}