@import "src/common/styles/mixins.scss";
@include btn;

.container {
  background-color: #363a45;
  width: 80%;
  border: 1px solid #61dafb;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  cursor: grab;

  .taskHeader {
    display: flex;
    justify-content: space-between;

    .taskTitle {
      text-align: center;
      word-break: break-word;
    }
  }

  .description {
    padding-top: 10px;
    text-align: center;
  }

}

.inProgress {
  border: 1px solid #fb9f33;
}

.completed {
  border: 1px solid #3b8d09;
}