@import 'src/common/styles/mixins.scss';
@include a;

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 5%;
}

.field {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .fieldName {
    font-weight: 600;
    margin-bottom: 5px;
    align-self: flex-start;
  }

  .input, .select, .textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
  }
}

.errorField {
  position: absolute;
  top: 52px;
  color: red;
}

.btn {
  display: block;
  width: 100px;
  height: 30px;
}